.Poster {
  display: flex;
  margin-left: 10px;
}

p {
  font-size: small;
  margin: 10px;
}

.MovieInfo {
  margin-left: 10px;
}

.ActiveLink {
  color: black;
}

.button {
  margin-left: 20px;
  margin-bottom: 5px;
}
